body{
    background-color : #1F2833;
}
.logoName{
    font-style: bold;
    color: #C2E0F9 !important;
    animation: glow 1s ease-in-out infinite alternate;
}

#projectsBody{
    background-color: grey;
}

.header{
    font-style: oblique;
    color: #C9E0EC;
}

.header:hover{
    background-color: dark;
    color: #DC143C;
}


@keyframes glow{
     0%{text-shadow: 0px 0px 5px #FFFF, 0px 0px 10px #1696BE, 0px 0px 15px #C2E0F9;}

    100%{text-shadow: 0px 0px 5px #1696BE, 0px 0px 15px #059DC0, 0px 0px 20px #04345C;}
}

.logoLink{
    text-decoration:none;
}
.logoLink:link{
    color: white;
}
.logoLink:visited{
    color: white;
}